<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345784162093-rbf0h5gil285gogc0ujjfb8rmmliu3m3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345784162093-rbf0h5gil285gogc0ujjfb8rmmliu3m3</string>
	<key>API_KEY</key>
	<string>AIzaSyBPZzzz04kEdkNtrXcPyVd80op5FTHfyqA</string>
	<key>GCM_SENDER_ID</key>
	<string>345784162093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.yellowtoast.TwitterTutorial</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial-a805e</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial-a805e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345784162093:ios:8fa189f5f687742aaaa5a4</string>
</dict>
</plist>